<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KnotsPro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\styles.css">
    <link rel="stylesheet" href="static\overlayStiles.css">
    <link rel="icon" href="static/icon.png" type="image/png">
</head>
<body>
    <div id="mainContent">
        <div class="container">
        <nav class="navbar navbar-light">
            <a href="/main_menu" class="ml-auto btn btn-outline-secondary">Выйти в главное меню</a>
        </nav>

    <div class=" container d-flex justify-content-center align-items-center vh-100" >
        <div class="card text-center " style="width: 25rem;" >
            <div class="card-body p-5" >
                <div id="timer" class="mt-3">таймер</div> <!-- Блок для таймера -->
                <h1 class="card-title" id="nodeName" >Имя узла</h1>
                <img id="nodeImage" src="" alt="Изображение узла" class="img-fluid m-3" style="display:none; align-items: center;">
<!--                <div class="arrow mt-4" id="nextNode" style="cursor:pointer; font-size: 24px;">&#8594;</div>-->
<!--                <a href="">Logout</a>-->
                <button class="btn btn-success btn-lg w-100 mb-3" id="success">ЗАВЯЗАН</button>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-primary btn-sm" id="toggleButton">Показать узел</button>
                    <button class="btn btn-outline-danger btn-sm" id="cancel">ОТМЕНА</button>
                </div>

            </div>
        </div>
    </div>
    </div>
        </div>

    <div id='overlay' class="overlay justify-content-center align-items-center vh-100 hidden">
        <!--Начальный оверлей-->
<!--    <div class="" id="overlay"></div>-->
    <div class="content ">
        <h1 id="startText" class="mb-4">Нажмите, чтобы начать</h1>
        <div class="hidden" id="circleContainer">
            <svg class="progress-ring" width="150" height="150">
                <circle class="progress-ring__circle" cx="75" cy="75" r="70" stroke-dasharray="0, 440"></circle>
            </svg>
            <div id="countdown" class="countdown-text">3</div>
        </div>
    </div>
    </div>

<!--    <script src="static\initOverlay.js"></script>-->
    <script src="static\nodesScript.js"></script>
</body>
</html>
